
hr{
  margin: 6px 6px;
}

.pressed{
  background-color: #edf2fb;
}

.countrySelection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  /* grid-gap: 10px; */
  /* grid-auto-rows: minmax(100px, auto); */
}

.flag4Selection{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px; 
  justify-content: center;
  align-items: center;
}



button{
  display: block;
  background-color: #edf2fb;
  border-radius: 5%;
  border: none;
  box-shadow: -5px -5px 10px #d7e3fc, 5px 5px 10px #c1d3fe;
  min-width: 120px;
  max-width: 300px;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}
button:active{
  background-color: #e2eafc;
  box-shadow: 4px 4px 13px #d7e3fc, -4px -4px 13px #c1d3fe;
}

.btn-neu{
  display: block;
  background-color: #edf2fb;
  border-radius: 5%;
  border: none;
  box-shadow: -5px -5px 10px #d7e3fc, 5px 5px 10px #c1d3fe;
  min-width: 100px;
  max-width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5px;
  text-align: center;
  padding: 10px;
}



.btn-neu:active{
  background-color: #e2eafc;
  box-shadow: 4px 4px 13px #d7e3fc, -4px -4px 13px #c1d3fe;
}

a{
  background-color: #edf2fb;
  border-radius: 10%;
  border: none;
  box-shadow: -5px -5px 10px #d7e3fc, 5px 5px 10px #c1d3fe;
  min-width: 50px;
}
a:active{
  background-color: #e2eafc;
  box-shadow: 4px 4px 13px #d7e3fc, -4px -4px 13px #c1d3fe;
}

/* #edf2fb */