

.pressed{
    background-color:#0dcaf081;
    color: black;
}


button{
  display: block;
  background-color: #edf2fb;
  border-radius: 5%;
  border: none;
  box-shadow: -5px -5px 10px #d7e3fc, 5px 5px 10px #c1d3fe;
  min-width: 200px;
  max-width: 300px;
  margin-top: 20px;
}
button:active{
  background-color: #e2eafc;
  box-shadow: 4px 4px 13px #d7e3fc, -4px -4px 13px #c1d3fe;
}


a{
  background-color: #edf2fb;
  border-radius: 10%;
  border: none;
  box-shadow: -5px -5px 10px #d7e3fc, 5px 5px 10px #c1d3fe;
  min-width: 50px;
}
a:active{
  background-color: #e2eafc;
  box-shadow: 4px 4px 13px #d7e3fc, -4px -4px 13px #c1d3fe;
}

/* #edf2fb */